body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(159deg, #000000d1, #000144c4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  width: 50vh;
  height: 50vh;
  border-radius: 100%;
  box-shadow: inset 0 0 0px 3px #ec65f6, 0 0 0px 3px #74d7f5;
  border: 5px solid transparent;
  position: relative;
  display: flex;
}

.hand {
  width: 40%;
  background-color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  border-radius: 20%;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.sec {
  background-color: red;
  z-index: 3;
  height: 3px;
  transition: all 0.2s;
}

.min {
  z-index: 2;
  height: 4px;
}

.hour {
  z-index: 1;
  height: 5px;
  width: 30%;
}

.noTransition {
  transition: none;
}

.calender {
  position: absolute;
  right: 15%;
  align-self: center;
  border: 2px solid rgb(70, 62, 62);
  background-color: white;
  padding: 3px;
  border-radius: 25%;
}
